# ===================================================================
# Файлы, сгенерированные IntelliJ IDEA
# ===================================================================
.idea/
*.iml
*.iws

# ===================================================================
# Файлы, сгенерированные Gradle
# ===================================================================
.gradle/
build/

# Игнорировать специфичные файлы Gradle
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.properties
gradle-wrapper.properties.lock
gradle.properties.lock
gradlew
gradlew.bat

# ===================================================================
# Скомпилированные классы, логи и прочий мусор
# ===================================================================
*.class
*.log
*.jar
*.war
*.ear

# ===================================================================
# Файлы операционной системы
# ===================================================================
.DS_Store
Thumbs.db

resources/application.properties
application.properties